.viewSearch{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-top: 5px;
    padding:5px;
    padding-top:1px;
}
.viewSearch icon{
    margin-left:6px;
    vertical-align:middle;
}
.viewSearch input{
    float:right;
    width:90%;
    font-size:14px;
    margin-top:1px;
}