page{
  background-color:#F2F2F2;
}
.container1{
  padding: 10px;
  text-align: left;
}
.container1 .viewItem{
  padding-left: 10px;
  line-height: 21px;
  background-color: #FFF;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.viewGeneral{
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;

  background-color: #FFF;
  font-size: 13px;
  line-height: 21px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.container1 .viewSubItem{
  font-size: 13px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.viewLoadingData{
    font-size:14px;
    text-align:center;
    line-height:52px;
    margin-bottom:15px;
    border:1px dashed #E2E2E2;
    background-color:#FFF;
    margin-top:7px;
}
.viewLoadingData image{
    width:24px;
    height:24px;
    margin-right:7px;
    vertical-align:middle;
}
.viewNetOff{
    font-size: 14px;
    text-align: center;
    margin-bottom:15px;
    background-color: #FCFCFC;
    padding: 15px;
    margin-top:7px;
    border:1px dashed #E1E1E1;
}
.viewNetOff icon{
    vertical-align:middle;
    margin-right:7px;
    margin-top: -2px;
}
.viewDataEmpty{
    margin:0px;
    margin-bottom:15px;
    line-height:40px;
    background-color:#f9f9f9;
}