<form report-submit="true" bindsubmit="formSubmitByFormId">
  <button formType="submit" class='btnSendFormId'>
  <view>
      <view class='viewPreview' style='height: {{previewHeight}}'>
        <image src='{{previewImage}}' mode="widthFix"></image>
        <view class='viewDescription'>
          <view wx:if="{{whetherShareToParent == true}}">{{"Sharer by：" + userName}}</view>
          <view>{{"Creation time：" + date}}</view>
          <view wx:if="{{whetherShareToParent == true}}">{{"Share time：" + shareDate}}</view>
          {{description}}
          <button type='warn' class='{{(btnDisabled)?"btnGray":"btnRemove"}}' bindtap='removeGeneralPhotoes'>Delete</button>
        </view>
      </view>
  </view>
  </button>
</form>