.previewScrollView{
  /* padding-bottom: 62px; */
}
.viewItem:nth-child(odd){
  width: 100%;
  background-color: #F9F9F9;
  border-bottom:1px dashed #e4e4e4;
}
.viewItem:nth-child(even){
  width: 100%;
  border-bottom:1px dashed #e4e4e4;
}
.viewItem .viewTimer {
  font-size: 12px;
  line-height:25px;
  padding-left:7px;
}
.viewItem .viewContent1{
  padding-left:7px;
  padding-right: 2px;
  margin-bottom:8px;
}
.viewItem .viewContent1 .viewImgItem{
  display: inline-block;
  margin-right:5px;
  width: 112px;
  height: 100px;
  box-shadow:0 0 3px #a5a5a5;
  margin-bottom: 5px;
  vertical-align: middle;
}
.viewItem .viewContent1 .viewImgItem image{
  width: 100%;
  height: 100px;
  background-color: white;
}
.viewItem .viewContent1 .viewImgItem .viewDescription{
  font-size: 12px;
  width:100%;
  text-align:center;
  margin-top:-26px;
  background-color: rgba(213, 233, 245, 0.82);
  line-height: 26px;
  opacity: 1;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  box-sizing: border-box;
  padding-left:3px;
  padding-right:3px;
}
.viewItem .viewContent1 .viewImgItem .viewNoRead{
  margin-top:-100px;
  margin-left:0px;
  float:left;
  background-color:50%;
  border-top:18px solid #ff3838;
  border-right:18px solid transparent;
}
.viewItem .viewContent1 .viewImgItem .viewRead{
  margin-top:-100px;
  margin-left:0px;
  float:left;
  background-color:50%;
  border-top:18px solid gray;
  border-right:18px solid transparent;
}
.viewLoadingData{
    font-size:14px;
    text-align:center;
    line-height:52px;
    margin:15px;
    border:1px dashed #E2E2E2;
    background-color:#FFF;
    margin-top:15px;
}
.viewLoadingData image{
    width:24px;
    height:24px;
    margin-right:7px;
    vertical-align:middle;
}
.viewPreviewNetOff{
    font-size: 14px;
    text-align: center;
    margin:10px;
    background-color: #FCFCFC;
    padding: 15px;
    margin-top:15px;
    border:1px dashed #E1E1E1;
}
.viewPreviewNetOff icon{
    vertical-align:middle;
    margin-right:7px;
    margin-top: -2px;
}
.viewPreviewPullUp{
    font-size: 12px;
    text-align: center;
    margin:10px;
    margin-bottom: 15px;
    display: block;
}
.viewPreviewPullUp image{
    width:24px;
    height:24px;
    margin-right:7px;
    vertical-align:middle;
}
.viewFooter{
    position:fixed;
    width:100%;
    text-align:center;
    bottom:0px;
    box-shadow:0 0 10px gray;
    height:45px;
    padding-top:6px;
}
.viewFooter button{
    width:93%;
    line-height: 40px;
}
/*实验室功能*/
.btnSendFormId{
  position: absolute;
  width: 100%;height: 0;
  overflow: visible;
  text-align: initial;
  border-color: transparent;
  background-color: transparent;
  padding: 0;
  line-height: initial;
}
.btnSendFormId::after {
    content: initial !important;
}