page{
  background-color: #F2F2F2;
}
.container1{
  padding: 10px;
  text-align: left;
  padding-bottom:39px;
}
.viewPhase1{
    margin-top: 0px;
}
.container1 .viewItem{
  padding-left: 5px;
  line-height: 21px;
  background-color: #FFF;
  margin-bottom: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right:5px;
  display:flex;
  align-items:center;
  border-left: 3px solid #B2B2B2;
}
.container1 .viewItemImport{
  padding-left: 5px;
  line-height: 21px;
  background-color: #fff9f9;
  margin-bottom: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right:5px;
  display:flex;
  align-items:center;
  border-left: 3px solid #F12F37;
}
.container1 .viewInfo{
  flex: 1;
}
.container1 .viewTitle{
  font-size: 13px;
  color: #C3566D;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.container1 .viewTitle .viewComments{
  float: right;
  color: #B2B2B2;
  margin-right:2px;
}
.container1 .viewTitle .viewComments image{
  width:20px;
  height:20px;
  vertical-align:middle;
  margin-right:3px;
}
.container1 .viewDesc{
  font-size: 13px;
  color: #3C3C3C;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space:normal;
  word-break:break-all;
}
.container1 .imageHeader{
  border-radius: 50%;
  min-width:50px;
  width: 50px;
  height: 50px;
  margin-right: 6px;
}
.container1 .viewState{
  margin-top:4px;
}
.container1 .viewState .viewTimer{
  font-size: 12px;
  color: #B2B2B2;
  float: left;
}
.container1 .viewState .viewSource{
  font-size: 12px;
  color: #B2B2B2;
  float: right;
}
.container1 .viewState .viewSourceBlue{
  font-size: 12px;
  color: #B0C4E0;
  float: right;
}
.container1 .viewFooter{
  position:fixed;
  bottom:0px;
  width: 100%;
  margin-left:-10px;
  background-color:white;
  height:40px;
}
.container1 .viewFooter .viewAddNote{
  background-color:#F2F2F2;
  line-height:31px;
  margin-left:9px;
  color:#BABABA;
  font-size:13px;
  padding-left:10px;
  margin-right:10px;
  margin-top:4px;
}
.viewLoadingData{
    font-size:14px;
    text-align:center;
    line-height:52px;
    margin-bottom:15px;
    border:1px dashed #E2E2E2;
    background-color:#FFF;
    margin-top:7px;
}
.viewLoadingData image{
    width:24px;
    height:24px;
    margin-right:7px;
    vertical-align:middle;
}
.viewNetOff{
    font-size: 14px;
    text-align: center;
    margin-bottom:15px;
    background-color: #FCFCFC;
    padding: 15px;
    margin-top:7px;
    border:1px dashed #E1E1E1;
}
.viewNetOff icon{
    vertical-align:middle;
    margin-right:7px;
    margin-top: -2px;
}
.viewPullUp{
    font-size: 12px;
    text-align: center;
    margin:10px;
    margin-bottom: 10px;
}
.viewPullUp image{
    width:20px;
    height:20px;
    margin-right:7px;
    vertical-align:middle;
}
.viewDataEmpty{
    margin:0px;
    margin-bottom:15px;
    line-height:40px;
    background-color:#f9f9f9;
}