page{
  background-color: #F2F2F2;
}
.viewContent{
  height: 300px;
  width: 100%;
}
.checkbox-group{
  display:flex;
  flex-direction:column;
  line-height:27px;
}
.viewContent .viewTextarea{
  background-color:#FFF;
  padding-left:10px;
  padding-right:10px;
  padding-top:10px;
  padding-bottom:3px;
  margin-bottom:5px;
}
.viewContent textarea{
  width: 100%;
  height: 110px;
  margin-bottom:8px;
  font-size: 13px;
}
.viewContent checkbox{
  margin-left: 10px;
  font-size: 13px;
}
.viewContent button{
  line-height:37px;
  margin-left:10px;
  margin-right:10px;
  margin-top:10px;
}